@import url(https://fonts.googleapis.com/css?family=Volkhov:400italic);

.iti__flag {background-image: image-url("./intl-tel-input-master/build/img/flags,png");}
    
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.iti__flag {background-image: image-url("./intl-tel-input-master/build/img/flags@2x.png");}
}

.iti__country {
	float: left !important;
  text-align: left !important;
  background-color: grey !important;
  width: 450px !important;
  overflow: none;
}

.iti__country:hover {
  background-color: grey !important;
}

.logo-text {
  font-size: x-large;
  font-weight: bolder;
}

.logo-text img {
  float: right !important;
}

.logo-text span {
  color: goldenrod;
}

.colored-link {
    color: blue;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.colored-link:hover {
    color: skyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.close-button {
  z-index: 999;
  position: fixed;
  margin-top: -25px;
  margin-left: 70%;
  float: right;
  cursor: pointer;
  background-color: gray !important;
  padding-left: 10px;
  padding-right: 10px;
}

.member-area {
  margin-top: 0;
  position: fixed;
  width: 100%;
}

#member-area-container {
  display: none;
  z-index: 16777271;
	position: fixed;
}

@media (max-width: 889px) {
  #mobile-member-area{
    display: block;
  }
}

#errors{
  margin-bottom: 15px;
}
#errors p{
  color: red;
}
#errors a{
  color: blue;
}

#errors span{
  color: green;
  background-color: lightgreen;
  padding: 5px 10px;
  margin: 5px 5px;
}

#visibility {
  cursor: pointer;
}

.gold-border{
  border-color: gold !important;
}

.login_part .login_part_text{
  background-color: goldenrod;
}

.hero__caption span{
  color: gold !important;
  border-color: gold; 
}

.btn_1, .btn, .btn_3, .checkout_btn_1, #count, .header-btn, #scrollUp{
  background-color: goldenrod !important;
  border-color: goldenrod; 
}

.btn_1:hover, .checkout_btn_1:hover, .ti-arrow-up:hover, #scrollUp:hover{
  color: white;
  background-color: gold !important;
  border-color: goldenrod; 
}

section, table, tbody, .cart_area, .section_padding, .container, .cart_inner, .table-responsive, .table{
  overflow: visible !important;
}

.select-box{
  overflow: scroll;
  max-height: 50px;
}

button:hover, a:hover{
  cursor: pointer !important;
}